*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.submit_regis_wrapper{
    display: flex;
    justify-content: space-around;
    margin: 50px;
}


body{
    background-color: #111111;
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #00796b;
    height: 100px;
    width: auto;
    color: #efefef;
    border-radius: 5px;
    border: 2px solid #111111;
    transition: linear 0.5s;
    margin-bottom: 10px;
}

header:hover{
    border: 2px solid white;
}

.shadow{
    height: 8px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    background: linear-gradient(0deg, black, white);
}

h1{
    margin: 10px 5px;
    padding: 5px;
    min-height: 50px;
    min-width: 300px;
    vertical-align: middle;
    /* flex: 6 1 0; */
    /* border: 2px solid black; */
}

h2{
    margin: 5px 5px;
    min-height: 80px;
    min-width: 180px;
    /* flex: 1 1 0;    */
    /* border: 2px solid black; */
}

.buttons{
    height: 200px;
    width: 200px;
    display: flex;
    flex-flow: column;
    text-align: center;
    border: 5px solid white;
    margin: 50px auto;
    padding: 20px;
}

button{
    height: 70px;
    width: 150px;
    cursor: pointer;
    margin: 5px auto;
    background-color: coral;
    padding: 20px;
    font-size: 20px;
    transition: ease 0.5s;
    border-radius: 20px;
}

button:hover{
    background-color: purple;
    /* transition: ease 0.5s; */
}

.register{
    /* margin: 0 auto; */
    visibility: hidden;
    /* display: block; */
}

.logon{
    visibility: hidden;
    /* display: block; */
}

.datalists{
    display: flex;
    flex-flow: column;
}

/* datalist:nth-child(odd){
    background-color: #dddddd;
    color: #ffffff;
} */

.dl{
    margin: 10px auto;
    padding: 20px;
    height: 50px;
    width: 200px;
}

.dl1{
    flex-grow: 1;
}

.dl2{
    flex-grow: 2;
}

.dl3{
    flex-grow: 3;
}


footer{
    border-top: 2px solid maroon;
    font-size: 20px;
    background-color: #120350;
    padding: 20px;
    margin: 20px 0 5px 0;
}

footer span{
    font-size: 25px;
    color: red;
}

.fas{
    margin: 0 60%;
    cursor: pointer;
}