/* .button_regis{
    background-color: blue;
    color: blue;
} */

body{
    /* text-align: center; */
    /* background-color: black; */
    /* color: white; */
}

header{
    display: flex;
    justify-content: space-between;
    /* justify-items: end; */
    /* text-align: left; */
}

h1{
    margin: 0 auto;
    height: 50px;
    width: 300px;
    flex: 1 1 0;
}

h2{
    margin: 0 auto;
    height: 70px;
    width: 100px;
    flex: 1 1 0;    
}

.buttons{
    display: flex;
    text-align: center;
    /* margin: 0 auto; */
}

button{
    margin: 0 auto;
    display: inline-block;
    padding: 20px;
    font-size: 20px;
}

main{
    display: flex;
    flex-flow: column;
}

.register{
    /* margin: 0 auto; */
    visibility: hidden;
    /* display: block; */
}

.logon{
    visibility: hidden;
    /* display: block; */
}

.datalists{
    display: flex;
    flex-flow: column;
}

/* datalist:nth-child(odd){
    background-color: #dddddd;
    color: #ffffff;
} */

.dl{
    margin: 10px auto;
    padding: 20px;
    height: 50px;
    width: 200px;
}

.dl1{
    flex-grow: 1;
}

.dl2{
    flex-grow: 2;
}

.dl3{
    flex-grow: 3;
}
